@using Turisticka_Agencija.Models
@{
    Layout = null;
    ViewBag.Title = "Istorija";
}

<!DOCTYPE html>

@{

    <!--INIT-->

    Dictionary<string, Aranzman> aranzmani = (Dictionary<string, Aranzman>)HttpContext.Current.Application["aranzmani"];

    <!--INIT-->

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/flexboxgrid.css">
    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>

<body>

    <!-- GLAVNI MENI -->

    <header id="main-header">
        <div class="container">
            <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h1><span class="primary-text">Travel</span>Fuge</h1>
                </div>
                <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <nav id="navbar">
                        <ul>
                            <li><a href="~/Home/Index">Home</a></li>
                            <li class="active"><a href="~/Istorija/Index">Prethodni aranžmani</a></li>
                            <li><a href="~/Login/Index">Prijava</a></li>
                            <li><a href="~/Register/Index">Registracija</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- GLAVNI MENI -->
    <!-- GLAVNI HEADER -->

    <section id="showcase">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-sm">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7 showcase-content">
                    <h1>LETOVANJE 2021 uz <span class="primary-text">Travel</span>Fuge</h1>
                    <p style="color:white; font-size:25px; margin-top:10px">Uvek sveže ponude</p>
                </div>
            </div>
        </div>
    </section>

    <!-- GLAVNI HEADER -->
    <!-- ARANZMANI -->

    <section id="offers">
        <div class="container">
            <div class="row center-xs center-sm center-md center-md">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Prethodni aranžmani</h2>
                    <p>Trenutne ponude možete pronaći na <a href="~/Home/Index">Home</a> stranici</p>

                    <div class="row center-xs center-sm center-md center-md">

                        <!-- LOKACIJE -->

                        @{
                            foreach (Aranzman a in aranzmani.Values)
                            {
                                if (a.datumPocetkaPutovanja.CompareTo(DateTime.Now) <= 0)
                                {
                                    int brojDana = (a.datumZavrsetkaPutovanja - a.datumPocetkaPutovanja).Days;
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <img class="aranzman" src="@a.posterAranzmana" />
                                        <h4>@a.naziv</h4>
                                        <p>
                                            @a.datumPocetkaPutovanja.ToString("dd/MM/yyyy") - @a.datumZavrsetkaPutovanja.ToString("dd/MM/yyyy").
                                            @brojDana dana već od <span class="primary-text-cena">400</span>,<span class="gore">EUR</span><span class="dole">00</span>
                                            <br>
                                            <button>
                                                Pogledaj
                                            </button>
                                        </p>
                                    </div>
                                }
                            }
                        }

                        <!-- LOKACIJE -->

                    </div>
                </div>
            </div>
    </section>

    <!-- INFORMACIJE -->

    <section id="company">
        <div class="container">
            <div class="row">
                <div class="start-xs start-sm start-md start-lg col-xs-12 col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h4 class="center-xs center-sm center-md center-lg">O nama</h4>
                    <p style="text-align:justify">
                        Turistička agencija <span class="primary-text">Travel</span>Fuge je sa vama od 1999. godine, kada smo započeli svoju misiju da svima
                        približimo mogućnost da na jednom mestu mogu pronaći sve turističke usluge.Turističke agencije koje zastupa Maestral Novi Sad – Argus tours,
                        Plana tours, Nitravel, Moj Svet, Turisttrade, Travelland, Aqua travel, Wayout, Dertour, Astra travel.
                    </p>
                </div>
                <div class="end-xs end-sm end-md end-lg col-xs-12 col-sm-3 col-md-4 col-lg-3">
                </div>
            </div>
        </div>
    </section>

    <!-- INFORMACIJE -->
    <!-- FOOTER -->

    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; 2021 | TravelFuge</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- FOOTER -->

</body>

</html>
