@{
    Layout = null;
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/flexboxgrid.css">

    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>

<body>
    <center><h1>REGISTRACIJA -> KURCINA</h1></center>
</body>

</html>
